/* add home page styles here */

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}
  
@keyframes pulse {
    20% {
        transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
        }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }
}