.message label {
    margin: 1rem;
}

.message input {
    display: none;
}

.disabled {
    opacity: 50%;
}

.message input:checked + div {
    font-weight: 900;
    filter: drop-shadow(5px 5px 5px hsl(180, 50%, 50%));
}